{% extends "myapp/base.html" %}
{% block title %}Home{% endblock title %}
{% block nav %}
<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
{% endblock nav %}
{% block main-content %}
 <div class="container text-center my-5 shadow p-3 mb-5 bg-body-tertiary rounded">
    <div class="row justify-content-center ">
        <h1 class="mb-4">Welcome</h1>
        <div class="col-4  mt-4">
            
            <label class= "mb-2"for="">Login if you have already registerd</label>
            <div class='form-group last mb-4 text-white'><button type='button' class='btn btn-outline-primary'><a href="{% url 'login_view' %}">Login</a></button></div><hr><br>
            <label class= "mb-2"for="">Register if you are new here</label>
            <div class='form-group last mb-4 text-white'><button type='button' class='btn btn-outline-primary'><a href="{% url 'register' %}">Register</a></button></div>
        </div>
        
    </div>
 </div>
{% endblock main-content %}